// Colors
$color-primary: #735826;
$color-primary-light: #735826;
$color-secondary: #D9C49E;
$color-secondary-light: #D9C49E50;
$color-black: #130f0e;
$color-white: #f1f1f1;
$color-gray: #4F4B40;

// Tipografy
$font-cursive: "Rochester", serif;
$font-sans: "Poppins", sans-serif;

// Sizes
$xs: 12;
$sm: 14;
$base: 16;
$lg: 18;
$xl: 20;
$h8: 24;
$h7: 30;
$h6: 36;
$h5: 48;
$h4: 64;
$h3: 80;
$h2: 96;
$h1: 128;

// Weights
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Styles
$italic: italic;
$normal: normal;